@import "../../colors";
@import "../../variables";

$text-field-padding: 0.5rem 0 !default;

$text-field-label-font: $project-font !default;
$text-field-label-font-size: 0.8rem !default;
$text-field-label-weight: 400 !default;
$text-field-label-font-spacing: 0.02rem !default;
$text-field-label-color: $color-primary !default;
$text-field-label-bottom-margin: 0.3rem !default;

$text-field-input-font: $project-font !default;
$text-field-input-font-size: 1rem !default;
$text-field-input-weight: 400 !default;
$text-field-input-font-spacing: 0.02rem !default;
$text-field-input-color: $color-dark-gray !default;
$text-field-input-padding: 0.2rem 0.5rem !default;
$text-field-underline-width: 2px !default;
$text-field-underline-color-active: $color-primary-lighten-1 !default;
$text-field-underline-color-inactive: $color-primary-lighten-2 !default;
$text-field-underline-color-error: $color-error !default;

$text-field-error-font: $project-font !default;
$text-field-error-font-size: 0.8rem !default;
$text-field-error-weight: 400 !default;
$text-field-error-font-spacing: 0.03rem !default;
$text-field-error-color: $color-error !default;
$text-field-error-top-margin: 0.3rem !default;
