@import "../colors";

$pagination-info-font-size: 0.8rem;
$pagination-info-arrow-size: 1.2rem;
$pagination-info-color: $color-gray-8;

$pagination-links-size: 1.4rem;
$pagination-links-font-size: 0.8rem;
$pagination-links-padding: 0.6rem;

$pagination-links-color: $color-gray-8;
$pagination-links-background-color: $color-gray-2;
$pagination-links-active-color: $color-white;
$pagination-links-active-background-color: $color-blue-6;
$pagination-links-disable-color: $color-white;
$pagination-links-disable-background-color: $color-gray-6;