@import "variables_form";
@import "../mixins/border-radius";

.opx-form {
  background-color: $form-background-color;
  @include border-radius;
  padding: $form-padding;

  &__title {
    color: $form-title-color;
    font-size: $form-title-font-size;
    font-weight: $form-title-font-weight;
    font-family: $form-font-family;
    letter-spacing: $form-title-font-spacing;
    margin-bottom: $form-title-bottom-margin;
    line-height: $form-title-line-height;
  }

  &__subtitle {
    color: $form-subtitle-color;
    font-size: $form-subtitle-font-size;
    font-weight: $form-subtitle-font-weight;
    font-family: $form-font-family;
    letter-spacing: $form-subtitle-font-spacing;
    margin-bottom: $form-subtitle-bottom-margin;
  }

  &__actions {
    text-align: center;
    margin-top: $form-action-top-margin;
    &>* {
      margin-bottom: $form-action-item-spacing;
      &:not(:last-child) {
        margin-right: $form-action-item-spacing;
      }
    }
  }
}
