@import "variables";

$form-background-color: $form-background !default;

$form-padding: 0 1rem 1rem !default;

$form-title-color: $color-dark-gray !default;
$form-title-font-size: 1.4rem !default;
$form-title-line-height: 1.6rem !default;
$form-title-font-weight: 300 !default;
$form-title-font-spacing: 0.05rem !default;
$form-title-bottom-margin: 0.5rem !default;

$form-subtitle-color: $color-dark-gray !default;
$form-subtitle-font-size: 1.2rem !default;
$form-subtitle-font-weight: 300 !default;
$form-subtitle-font-spacing: 0.05rem !default;
$form-subtitle-bottom-margin: 0.5rem !default;

$form-action-top-margin: 0.5rem !default;
$form-action-item-spacing: 0.5rem !default;