@import "variables";

$form-group-width: 100% !default;
$form-group-padding: 1rem 0 0 !default;
$form-group-margin: 0 0 1.5rem !default;
$form-group-border-width: 1px !default;
$form-group-border-color: $color-blue-0 !default;

$form-group-title-padding: 0.5rem !default;
$form-group-title-top: -0.5rem !default;
$form-group-title-left: 0.5rem !default;
$form-group-title-font-size: 1rem !default;
$form-group-title-color: $color-red-3 !default;

//$form-section-padding: 5 / 6 * $form-fields-default-size !default;